
// colors
$blue:			#4eb8e6;
$blue_lighter:	#53c6f6;
$blue_darker:	#45a4cc;

$white:			#ffffff;

$gray_1:		#444444;
$gray_2:		#aaaaaa;



$tablet_wide:	1000px;
$mobile_wide:	800px;
$mobile:		700px;
$mobile_small:	500px;